#backend

backend/venv/
backend/.env
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.Python
backend/*.log

#FRONTEND
frontend/node_modules/
frontend/.env.local
frontend/.env
frontend/.env.development
frontend/.env.production
frontend/.env.test
frontend/.next/
frontend/build/
frontend/dist/
frontend/.cache/
frontend/coverage/
frontend/.vercel
frontend/out/
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# IDE/Editor specific
.vscode/
.idea/
*.swp
*.swo
*.swn
.DS_Store

# Misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

